# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/
Packages/
Package.pins
Package.resolved

# CocoaPods (사용 안 함)
Pods/

# fastlane (사용 안 함)
fastlane/report.xml
fastlane/screenshots
